{{ define "main" }}
{{ $paginator := .Paginate (where site.RegularPages "Section" "posts") }}

<div class="post-list">
{{ range $paginator.Pages }}
  {{ partial "post-row.html" (dict "page" . "level" 2) }}
{{ end }}
</div>
<hr/>

<ul class="pager">

  {{ with $paginator.Prev }}
  <li class="previous">
    <a href="{{ .URL }}">&larr; Newer</a>
  </li>
  {{ else }}
  <li class="previous disabled">
    <a>&larr; Newer</a>
  </li>
  {{ end }}

  <li>
    <span class="page_number">Page: {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}</span>
  </li>

  {{ with $paginator.Next }}
  <li class="next">
    <a href="{{ .URL }}">Older &rarr;</a>
  </li>
  {{ else }}
  <li class="next disabled">
    <a>Older &rarr;</a>
  </li>
  {{ end }}

</ul>
{{ end }}
