{{ define "main" }}
<div class="page-header">
  <h1>{{ .Title }}{{ with .Params.tagline }} <small>{{ . }}</small>{{ end }}</h1>
</div>

<div class="col-sm-3 col-xs-6">
    <ul class="nav nav-tabs-vertical cat-tag-menu">
      {{ range .Data.Terms.Alphabetical }}
        <li>
            <a href="#{{ partial "anchor.html" .Term }}">
              {{ .Page.Title }} <span class="badge pull-right">{{ .Count }}</span>
           </a>
        </li>
      {{ end }}
    </ul>
</div>
<!-- Tab panes -->
<div class="tab-content col-sm-9 col-xs-6">
  {{ range .Data.Terms.Alphabetical }}
    <div class="tab-pane" id="{{ partial "anchor.html" .Term }}">
      <h2 style="margin-top: 0px">Posts in {{ .Page.Title }}</h2>
      <ul class="list-unstyled">
        {{ range .Pages.ByDate.Reverse }}
          <li style="line-height: 35px;"><a href="{{ .RelPermalink }}">{{ .Title }}</a> <span class="text-muted">- {{ .Date.Format "January 02, 2006" }}</span></li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>

<div class="clearfix"></div>
{{ end }}
